*{margin: 0px; padding: 0px;}


/* Header */
header {
	width: 100%;
	height: 200px;
	background-color: lightgrey;
	background-image: url("img/lelionfrancais.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}

/*login, inscription*/
#log, #inscr{
	
	text-decoration: none;
	float: right;
	margin-right: 60px;
	background-color: #DAA520;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height:30px;
	color: white;
}

/* contenu de la page */
a {
	text-decoration: none;
}

nav {
	margin-bottom: 30px;
}

.content h3 {
	margin-left: 8%;
}

.content article div{
	margin-left: 8%;
	background-color: lightgrey;
	width: 80%;
	padding: 10px 0 10px 20px;
}


/* Menu */
.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.menu ul li {
	width: 25%;
	text-align: center;
}

.menu ul li a p{
	border-top: 1px solid black;
	background-color: grey;
	color: black;
	margin: 0;
	padding: 10px 0 10px 0;
}

@keyframes color {
  from {background-color: grey;}
  to {background-color: lightgrey;}
 }

.menu ul li a p:hover {
	animation: color 0.5s forwards;
}

#rois:hover ul { /* menu déroulant */
	display: block;
}

#menurois {
	display: none;
	position: absolute;
	width: 25%;
}

#menurois li {
	width: 100%;
}


/* présentation */
.presentation div p {
	padding-right: 10px;
}


/* Liste des auteurs */
.auteurs div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.auteurs div figure {
	margin-right: 20px;
	background-color: lightgrey;
	padding: 10px 20px 10px 20px;
}

.auteurs div figure figcaption {
	margin-bottom: 10px;
}

.auteurs img {
	height: 100px;
}


/* footer */
footer {
	background-color: lightgrey;
	width: 100%;
	height: 150px;
	text-align: center;
}

footer p {
	margin-top: 30px;
	padding-top: 20px;
}


/* responsive design */
@media screen and (max-width: 700px) {

	header {
		height: 100px;
	}

	footer {
		height: 100px;
	}
}
/*formulaire*/
.titre{
	text-align: center;
	line-height: 150px;
	color: #00008B;
	font-family: 'georgia', serif;
	font-size: 37px;

}

#commentaire{
	margin-right:60px ;
	font-style: italic;
	font-family: 'arial';
	font-size: 13px;
}
input[type=text], .password {
	left: 50%;
	right: 50%;
	
	width: 500px;
	height: 40px;
	border-radius: 7px;
	border: 0.5px solid #03042E;

	margin-bottom: 35px;

	padding-left: 3px; 
}
.password {
	margin-bottom: 50px;

}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bordure{
	margin:auto;
	height: 640px;
	border: 1px solid #DCDCDC;
	width: 680px;
}
.fondform{
	background-color: #F5F5F5;
	height: 80vh;
}
input[type="submit"] {
	margin-top: 20px;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-size: 17px;
	color: white;
	background-color: #318CE7;

}

.ReponseBonne, .ReponseMauvaise {
	width: 200px;
	height: 20px;
	font-size: 32px;
	text-align: center;
	margin: auto;
}

.ReponseBonne {
	color: green;
}

.ReponseMauvaise {
	color: red;
}